body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-line-through {
	text-decoration: line-through;
}

.todo-anchor:hover {
	text-decoration: none;
}
